h2 {
    animation-duration: 3s;
    animation-name: fade;
    color: #001F66;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


  #topboxthing p {
    animation-duration:7s;
    animation-name: fade2;
  }
  
  @keyframes fade2 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

 #topboxthing {

  background-color: #001F66 ;
    height: 350px;
    width: 100%;
    padding: 0%;
 }
 #topboxthing p {
  color: rgb(253, 255, 240);
  padding-top: 35px;
width: 60%;
padding-left: 20%;
 }

 @media  (max-width: 900px) {
  #topboxthing {
      height: 550px;
  }
  #topboxthing p {
    font-size: 85% ;
    padding-top: 10%;
}
 }

 .flex-container2 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.flex-item-left {
  padding: 10px;
  flex: 33%;

}
.flex-item-left p{
  font-size: 25px;
}
.flex-item-right p{
  font-size: 25px;
}

.flex-item-right {
  padding: 10px;
  flex: 33%;

}
.flex-item-right:hover {
  border: solid #001F66 5px ;
  border-radius: 25px;

}
.flex-item-left:hover {
  border: solid #001F66 5px ;
  border-radius: 25px;

}
.flex-item-middle:hover {
  border: solid #001F66 5px ;
  border-radius: 25px;

}
.flex-item-middle {
  padding: 10px;
  flex: 33%;
}
.flex-item-middle p{
  font-size: 25px;
}
.flex-item-middle {
  font-size: 25px;
}

.flex-item-middle:hover {
  color: #001F66;
}


.mainvideo {
  display: inline;
  padding: 5px;
  float: center;
}

@media (max-width: 1000px) {
  .flex-container2 {
    flex-direction: column;
  }
}


.mainvideo p {
  font-size: 25px;
}

.flex-container3 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.flex-item-left2 {
  padding: 10px;
  flex: 50%;
}
.flex-item-right2 {
  padding: 10px;
  flex: 50%;
}
@media (max-width: 1000px) {
  .flex-container3 {
    flex-direction: column;
  }
}