body, html {
    height: 100vh;
    width: 100%;
}

.topvideo {
    display: inline;
    
    padding: 5px;
}

.topvideo p {
    font-size: 25px;
}

.bottomvideo {
    float: left;
    display: inline;
}

